<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-inverse">
  <a class="navbar-brand" href="#">Taxistas</a>
  
</nav>


<div class="container">
  
  <div class="row">
    
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <h1>Siguiendo a {{taxistaSeleccionado.nombre }} </h1>
      
      
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
  <agm-marker *ngFor="let taxista of taxistas" 
    [latitude]="taxista.lat" 
    [longitude]="taxista.lng" [label]="taxista.nombre"></agm-marker>
</agm-map>
      
    </div>

    
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      
      Seleccione para seguir trayectoria
      <ul class="list-group">
        <li (click)="seguirTaxista(taxista)" *ngFor="let taxista of taxistas" class="list-group-item">{{taxista.nombre}}</li>
      </ul>

      
  <br />
      
      
      <button (click)="stopFollowing()" type="button" *ngIf="following" class="btn btn-block btn-danger">Dejar de Seguir</button>
      
      
    </div>
    
    
  </div>
  
</div>


